@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

html.dark body {
  background-color: #0B1120;
  color: #f1f5f9;
}

html:not(.dark) body {
  background-color: #ffffff;
  color: #0B1120;
}